<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <link th:href="@{/css/header.css}" rel="stylesheet">
  <script>
    $(document).ready(function() {
      $('form[name=passwordForm]').on('submit', function() {
        var $thisForm = $(this);

        var newPassword = $thisForm.find('input[name=newPassword]').val();
        var newRePassword = $thisForm.find('input[name=newRePassword]').val();

        if (newPassword !== newRePassword) {
          alert(' 신규 비밀번호와 신규 확인 비밀번호가 일치하지 않습니다.');
          return false;
        }

        var password = document.getElementById("newPassword");
        var passwordValid = /(?=.*[0-9])(?=.*[a-z])(?=.*\W)(?=\S+$).{6,12}/;

        if (!passwordValid.test(password.value)) {
          alert('비밀번호는 영문자와 숫자, 특수기호가 적어도 1개 이상 포함된 6자~12자를 만족해야 합니다.')
          return false;
        }
        if (!confirm(' 비밀번호를 변경하시겠습니까? ')) {
          return false;
        }
      });
    });
  </script>
  <style>
    .container {
      display: flex;
      justify-content: center;
    }
    .my-input {
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      cursor: text;
      transition: border .1s linear;
      width: 300px;
    }
    .mb-0 {
      margin-top: 8rem;
      margin-bottom: 5rem;
    }
    .btn-sm {
      margin-top: 2rem;
    }
  </style>
</head>
<body>
<header>
  <div th:replace="fragments/header :: header"></div>
</header>
<div class="container">
  <div class="">
    <h3 class="mb-0" style="font-weight: bold; color: #674747">비밀번호 변경</h3>
    <form name="passwordForm" method="post">
      <div class="form-group">
        <label for="password" class="text">기존 비밀번호: </label>
        <input type="password" name="password" class="form-control my-input" id="password" required>
      </div>
      <div class="form-group">
        <label for="newPassword" class="text">새 비밀번호: </label>
        <input type="password" name="newPassword" id="newPassword" class="form-control my-input" required>
      </div>
      <div class="form-group">
        <label for="newRePassword" class="text">새 비밀번호 확인: </label>
        <input type="password" name="newRePassword" id="newRePassword" class="form-control my-input" required>
      </div>
      <button type="submit" class="btn btn-sm" style="background-color: #76BA99; color: #FFFFFF">
        <span class="glyphicon glyphicon-cog"></span> 비밀번호 변경</button>
    </form>
  </div>
</div>
</body>
</html>